._title{
  margin: 0;
  padding: 32px 16px 16px;
  color: rgba(69, 90, 100, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.sub_title{
  padding-left: 16px;
  font-size: 14px;
  font-weight: 600;
}
.list-item{
  margin: 0;
  background-color: #ffffff;
  font-size: 14px;
  .van-card__title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-top: 5px;
  }
  .color_red{
    color: #F73333;
  }
  .color_green{
    color: #38A4A4;
  }
  .van-row{
    margin-bottom: 5px;
  }
}
.main_form{
  height: 100%;
  width: 100%;
  .content{
    height: calc(~'100% - 120px');
    /*margin-top: 46px;*/
    overflow-y: scroll;
  }
  .footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 120px;
    width: 100%;
    padding: 0 10px;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    background: #ffffff;
    z-index: 2;
    /*margin-top: 10px;*/
  }
}
